<div class="jumbotron">
  <div class="container">
    <div class="main-header">
      <h1>{{header}}</h1>
    </div>
    <div class="login">
      <a class="btn btn-success btn-lg" ng-click="loginModal()" ng-hide="isAuthenticated">Login</a>
    </div>
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <div class="whatDo" style="margin-left:-10px;" ng-show="isAuthenticated">
          <a class="btn btn-success btn-lg" ng-click="whatDo()">What should I do?</a>
        </div>
      </div>
      <div class="col-md-5">
        <div class="manage" style="float:left;" >
          <a class="btn btn-danger btn-lg" ng-click="manageModal()" ng-show="isAuthenticated"><i class="fa fa-pencil-square-o"></i></a>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="whatDoText" ng-show="isAuthenticated">
      <h2><em>You should:</em></h2>
    </div>
    <div class="whatDoText" ng-show="isAuthenticated">
      <h2>{{whatToDo}}</h2>
    </div>
    <div class="addWhatDo" ng-show="isAuthenticated">
      <a class="btn btn-default btn-lg" ng-click="addModal()">Add a new idea to your list!</a>
    </div>
    <div class="createAcct" ng-hide="isAuthenticated">
      <h2>Don't have an account?</h2>
      <a class="btn btn-primary btn-lg" ng-click="createAccountModal()">Create Account</a>
    </div>
  </div>
</div>

<modal title="Who are you?" visible="showLoginModal">
  <div ng-controller="LoginController">
    <div class="container" style="padding-left:70px;">
      <div class="row">
        <input type="text" class="form-control" style="max-width:200px" placeholder="username" ng-model="credentials.username"/>
      </div>
      <div class="row" style="padding-top:5px;">
        <input type="password" class="form-control" style="max-width:200px" placeholder="password" ng-model="credentials.password"/>
      </div>
    </div>
    <div class="row loginModalBtn" style="padding-top:20px; padding-left:0px; text-align:center;">
      <a class="btn btn-primary btn-lg" ng-click="login()">Login</a>
    </div>
  </div>
</modal>

<modal title="What is there to do?" visible="showAddModal">
  <div ng-controller="AddNewItemMyListModalController">
    <div class="row">
      <div class="container">
        <input id="newToDo" type="text" class="form-control" style="max-width:300px" placeholder="Add a new idea here" ng-model="newWhatToDo.description"/>
      </div>
    </div>
    <div class="row addWhatDoModalBtn">
      <a class="btn btn-primary btn-lg" ng-click="addNew()">Add it to the list</a>
    </div>
  </div>
</modal>

<modal title="Create your account" visible="showCreateAccountModal">
  <div ng-controller="CreateAccountController">
    <div class="container" style="padding-left:70px;">
      <div class="row">
        <input type="text" class="form-control" style="max-width:200px" placeholder="username" ng-model="newAccount.username"/>
      </div>
      <div class="row" style="padding-top:5px;">
        <input type="password" class="form-control" style="max-width:200px" placeholder="password" ng-model="newAccount.password"/>
      </div>
      <div class="row" style="padding-top:5px;">
        <input type="password" class="form-control" style="max-width:200px" placeholder="re-enter password" ng-model="newAccount.passwordConfirm"/>
      </div>
    </div>
    <div class="row loginModalBtn" style="padding-top:20px; padding-left:0px; text-align:center;">
      <a class="btn btn-primary btn-lg" ng-click="createAccount()">Create</a>
    </div>
  </div>
</modal>

<modal title="Manage your list" visible="showManageModal">
  <div ng-controller="ManageModalController">
    <div class="container">
      <div class="row" style="text-align:left;">
        <div class="logout">
          <a class="btn btn-lg" ng-click="logout()">Logout<i style="padding-left:10px;" class="fa fa-sign-out"></i></a>
        </div>
        <div class="delete-list">
          <a class="btn btn-lg" ng-click="deleteList()">Delete List<i style="padding-left:10px;" class="fa fa-trash-o"></i></a>
        </div>
      </div>
    </div>
  </div>
</modal>