/*
 * CSS for the main page
 *
 */

.jumbotron {
  background: #1A1A1A;
  color: white;
  text-align: center;
}

.row {
  text-align: center;
}

.main-header {
  margin-bottom: 40px;
}

.main-header h1 {
  opacity: 0;
}

.links {
  margin-bottom: -50px;
}

.links .btn {
	background: #1A1A1A;
	color: #66CCFF;
	border-color: #1A1A1A;
}

.links .btn:hover {
	background: #66CCFF;
	color: black;
}

.whatDo .btn {
	background: #1A1A1A;
	color: white;
	border-color: #66FF66;
	margin: auto;
}

.whatDo .btn:hover {
	background: #66FF66;
	color: black;
}

.login .btn {
	background: #1A1A1A;
	color: white;
	border-color: #66FF66;
}

.login .btn:hover {
	background: #66FF66;
	color: black;
}

.addWhatDo .btn {
	background: white;
	color: black;
	border-color: #337ab7;
	margin-top: 20px;
}

.addWhatDo .btn:hover {
	background: #337ab7;
	color: white;
}

.createAcct .btn {
	background: white;
	color: black;
	border-color: #337ab7;
	margin-top: 20px;
}

.createAcct .btn:hover {
	background: #337ab7;
	color: white;
}

.addWhatDoModalBtn {
	padding-top:20px;
	padding-left:0px;
	text-align:center;
}

.addWhatDoModalBtn .btn {
	background: white;
	color: black;
	border-color: #337ab7;
}

.addWhatDoModalBtn .btn:hover {
	background: #337ab7;
	color: white;
}

.loginModalBtn .btn {
	background: white;
	color: black;
	border-color: #337ab7;
}

.loginModalBtn .btn:hover {
	background: #337ab7;
	color: white;
}

.logout .btn {
	background: white;
	border-color: white;
	color: red;
	/* margin-left: 80px; */
}

.logout .btn:hover {
	background: red;
	border-color: red;
	color: white;
	/* margin-left: 80px;  */
}

.delete-list .btn {
	background: white;
	border-color: white;
	color: #66CCFF;
	/* margin-left: 80px; */
}

.delete-list .btn:hover {
	background: #66CCFF;
	border-color: #66CCFF;
	color: white;
	/* margin-left: 80px; */
}

.manage .btn {
	background: #1A1A1A;
	border-color: #1A1A1A;
	color: gray;
}

.manage .btn:hover {
	background: gray;
	border-color: gray;
	color: white;
}