<div class="jumbotron">
  <div class="container">
  	<div class="main-header">
      <h1>{{header}}</h1>
    </div>
    <div class="whatDo">
      <!-- <button type="button" class="btn btn-success btn-lg" ng-click="whatDo()">What should I do?</button> -->
      <a class="btn btn-success btn-lg" ng-click="whatDo()">What should I do?</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
  	<div class="whatDoText">
      <h2><em>You should:</em></h2>
    </div>
    <div class="whatDoText">
      <h2>{{whatToDo}}</h2>
    </div>
    <div class="addWhatDo">
      <a class="btn btn-default btn-lg" ng-click="modal()">Add a new idea!</a>
    </div>
  </div>
</div>

<modal title="What is there to do?" visible="showModal">
  <div ng-controller="AddNewItemModalController">
    <div class="row">
      <div class="container">
        <input id="newToDo" type="text" class="form-control" style="max-width:300px" placeholder="Add a new idea here" ng-model="newDesc"/>
      </div>
    </div>
    <div class="row addWhatDoModalBtn">
      <a class="btn btn-primary btn-lg" ng-click="addNew()">Add it to the list</a>
    </div>
  </div>
</modal>
